{% extends "base.html" %}

{% block main %}
  <h1 class="page-header">Modify About</h1>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('modaboutuserid',userid=userid) }}" method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.nickname.label }}
        {{ form.nickname(class='form-control') }}
      </div>
      <div class="form-group">
        {{ form.gender.label }}
        {{ form.gender(class='form-control') }}
      </div>
      <div class="form-group">
        {{ form.dob.label }}
        {{ form.dob(class='datepicker', placeholder="eg:yyyy-mm-dd")}}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-block">Modify About</button>
    </form>
  </div>
{% endblock %}
