{% extends "base.html" %}

{% block main %}
<h1>Groups</h1>

<form action="{{ url_for('groups',userid=userid) }}" method="post">
{{ form.csrf_token}}
      <div class="form-group">
        {{ form.groupsearch(class='form-control', placeholder="Search for a group")}}
      </div>
	<button type="submit" name="submit" class="btn btn-primary btn-block">Search</button>
</form>
<br><br>
<a href="{{url_for('cgroup',userid=userid)}}" class="btn btn-primary btn-block">Create Group</a>
<a href="{{url_for('mygroups',userid=userid)}}" class="btn btn-primary btn-block">My Group(s)</a>

{% endblock %}