{% extends "base.html" %}

{% block main %}
<div id = "holder">

<h1>View Post(s)<h1>

{%for i in pos_t%}
	{%for m in i[4]%}
		<img src="{{url_for('static',filename="" + m) }}"/>

	{%endfor%} 
	<p>Description: {{i[1]}} {{i[2]}} {{i[3]}}</p>

	<form action="{{ url_for('vpost',userid=userid) }}" method="post">
  	{{ form.csrf_token}}
      <div class="form-group">
        {{ form.usr_text(class='form-control', placeholder="Enter your comment")}}
        {{ form.pi_d(class='form-control',value=i[0])}}
        <!-- <input type="hidden" id="status" name="status" value={{i[3]}}/> -->
      </div>
	<button type="submit" name="submit" class="btn btn-primary btn-block">Add Comment</button>
	</form>

	{%for w in i[5]%}
		<p>{{w[0]}} {{w[1]}} {{w[2]}}</p>
	{%endfor%}

{%endfor%} 

</div>
</div>

{% endblock %}