{% extends "base.html" %}

{% block main %}
  <h1 class="page-header">Create Post</h1>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('cpost',userid=userid) }}" method="post"method="post"action="/process-file" enctype="multipart/form-data">
     {{ form.csrf_token}}
      <div class="form-group">
        {{ form.description.label}}
        {{ form.description(class='form-control', placeholder="Enter your comment")}}
      </div>

      <h3 class="page-header">Select Group</h3>
     
      <select name = 'autocomplete_group' id="id_datalist">
      {% for entry in groups %}
      <option value={{ entry[0] }}>{{ entry[1] }}</option>
      {% endfor %}
      </select>

      
      <h3 class="page-header"></h3>
      <div class="form-group">
        {{ form.photo.label}}
        {{ form.photo(class='form-control', placeholder="Enter your comment")}}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-block">Create Post</button>
    </form>
  </div>
{% endblock %}