{% extends "base.html" %}

{% block main %}
<div id = "holder">

<h1>{{pos_t[-1]}}'s Group Post(s)<h1>

{%if creator in [userid] %}
	<form action="{{ url_for('seditors',userid=userid) }}" method="post">
	<input type="hidden" value={{pos_t[-2]}} name="Encrypt"/>
	<button type="submit" name="submit" class="btn btn-primary btn-block">Add Content Editors</button>
	</form>
{% endif %}


<br>
{%for i in pos_t[:-2]%}
	{%for m in i[6]%}
		<img src="{{url_for('static',filename="" + m) }}"/>

	{%endfor%} 

	<p>Post Description: {{i[1]}} {{i[2]}} {{i[3]}} {{i[4]}} {{i[5]}}</p>

	<form action="{{ url_for('dgroupcom',userid=userid) }}" method="post">
  	{{ form.csrf_token}}
      <div class="form-group">
        {{ form.usr_text(class='form-control', placeholder="Enter your comment")}}
        {{ form.pi_d(class='form-control',value=i[0])}}

        <input type="hidden" value={{pos_t[-2]}} name="Encrypt"/>
        <input type="hidden" value={{i[0]}} name="Postid"/>
        <input type="hidden" value={{creator}} name="gOwner"/>

        <!-- <input type="hidden" id="status" name="status" value={{i[3]}}/> -->
      </div>
	<button type="submit" name="submit" class="btn btn-primary btn-block">Add Comment</button>
	</form>
  <p>Comments</		p>
	{%for w in i[7]%}
		<p>{{w[0]}} {{w[1]}} {{w[2]}} {{w[4]}} {{w[5]}}</p>
	{%endfor%}

{%endfor%} 

</div>
</div>

{% endblock %}