{% extends "base.html" %}

{% block main %}
<div id = "holder">

<h1>Search Result(s)<h1>

{%for i in fren_info%}
	<img src="{{url_for('static',filename="" + i[3]) }}"/>

	<p>{{i[1]}} {{i[2]}}</p>


	<form action="{{ url_for('vfrenprofile',userid=userid) }}" method="post">
		<input type="hidden" value={{i[0]}} name="Friendid"/> 
		<button type="submit" name="submit" class="btn btn-primary btn-block">View Profile 
		</button>
	</form>
	<br>
	
	<form action="{{ url_for('addfriend',userid=userid) }}" method="post">
    {{ form.csrf_token}}
      <div class="form-group">

	<input type="hidden" value={{i[0]}} name="Encrypt"/>

     {{ form.g_id(class='form-control')}}

      <input type="submit" value="Add Friend" name="Decrypt"/> 
    </form>
	
</div>
</form>
<br>
{%endfor%}
{% endblock %}