{% extends "base.html" %}

{% block main %}
<div id = "holder">

<h1>{{fruser[0]}} {{fruser[1]}}'s Profile</h1> 
<p>{{fruser[2]}}</p>
<img src="{{url_for('static',filename="" + image) }}"/>

<form action="{{url_for('aboutfrenid',userid=userid)}}" method="post">
	<input type="hidden" value={{fid}} name="Friendid"/>
<button type="submit" name="submit" class="btn btn-primary btn-block">About</button>
</form>


</form>

<h1>{{fruser[0]}} {{fruser[1]}}'s Post(s)<h1>

{%for i in pos_t%}
	{%for m in i[4]%}
		<img src="{{url_for('static',filename="" + m) }}"/>

	{%endfor%} 
	<p>Description: {{i[1]}} {{i[2]}} {{i[3]}} <br> {{i[6]}} </p>

	<form action="{{ url_for('vfrenprofilecom',userid=userid) }}" method="post">
  	{{ form.csrf_token}}
      <div class="form-group">
        {{ form.usr_text(class='form-control', placeholder="Enter your comment")}}
        {{ form.pi_d(class='form-control',value=i[0])}}
		<input type="hidden" value={{i[0]}} name="Postid"/>
		<input type="hidden" value={{fid}} name="Friendid"/>
      </div>
	<button type="submit" name="submit" class="btn btn-primary btn-block">Add Comment</button>
	</form>

	{%for w in i[5]%}
		<p>{{w[0]}} {{w[1]}} {{w[2]}} {{w[4]}} {{w[5]}}</p>
	{%endfor%}

{%endfor%} 

</div>

{% endblock %}